$primary-color: #444;
$accent-color: #32CD32;
$home-image: url(../images/background-image.png);
$background-opacity: 0.7;


*{
    color: white;
}


html {
    background: $primary-color;
    
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex: 1 0 auto;

}


.bg-img {
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;
}


span {
    color: $accent-color;
}

.fixed-action-btn {
    top: -16px;
}

.input-field input[type=text]:focus + label {
     color: #000;
}

p{
    font-size: 1.2em;
}

/*****HOME PAGE****/

img{
   border-radius: 15px;
   margin-top: 1em;
}

.profile_pic_img{
    width: 150px;
    border: solid 3px white;
    
}


/***CONTACT US***/

.pop-text{
    background-color: rgba(0,0,0,0.5);
    border: solid;
    border-radius: 15px;
    margin-top: 1.5em;
    margin-bottom: 2em;
   
}

/*****FOOTER*****/

.social-links {
    margin: 5px;
    padding-bottom: 1em;
}


/****FLASH MESSAGE****/

.flashstyling {
    text-align: center;
    width: 50%;
    color: limegreen;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
