$primary-color: #444;
$accent-color: #32CD32;
$home-image: url(../images/background-image.png);
$background-opacity: 0.7;


html {
    background: $primary-color;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex: 1 0 auto;

}


.bg-img {
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;
}


span {
    color: $accent-color;
}

.fixed-action-btn {
    top: -16px;
}

/*****FOOTER*****/

.social-links {
    margin: 5px;
    padding-bottom: 1em;
}
