$primary-color: #444;
$accent-color: #32CD32;

html{
    background: $primary-color;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  span {
      color: $accent-color;
  }
  
  .fixed-action-btn{
      top: -16px;
  }
  
  /*****FOOTER*****/
  
  .social-links{
      margin: 5px;
      padding-bottom: 1em;
  }
  
  