* {
  color: white; }

html {
  background: #444; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.bg-img {
  background: url(../images/background-image.png);
  background-attachment: fixed;
  background-size: cover; }

.highlighting {
  color: #32CD32; }

.fixed-action-btn {
  top: -16px; }

.input-field input[type=text]:focus + label {
  color: #000; }

p {
  font-size: 1.2em; }

/*****HOME PAGE****/
img {
  border-radius: 15px;
  margin-top: 1em; }

/***CONTACT US***/
.pop-text {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid;
  border-radius: 15px;
  margin-top: 1.5em;
  margin-bottom: 2em; }

/*****FOOTER*****/
.social-links {
  margin: 5px;
  padding-bottom: 1em; }

/****FLASH MESSAGE****/
.flashstyling {
  text-align: center;
  width: 50%;
  color: limegreen;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

/*****RECIPES*****/
span {
  color: #26a69a; }

.card-title {
  text-transform: capitalize; }
