html {
  background: #444; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.bg-img {
  background: url(../images/background-image.png);
  background-attachment: fixed;
  background-size: cover; }

span {
  color: #32CD32; }

.fixed-action-btn {
  top: -16px; }

.input-field input[type=text]:focus + label {
  color: #000; }

/*****FOOTER*****/
.social-links {
  margin: 5px;
  padding-bottom: 1em; }
