* {
  color: white; }

html {
  background: #444; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.bg-img {
  background: url(../images/background-image.png);
  background-attachment: fixed;
  background-size: cover; }

.highlighting {
  color: #32CD32; }

.fixed-action-btn {
  top: -16px; }

.input-field input[type=text]:focus + label {
  color: #000; }

p {
  font-size: 1.2em; }

/*****ABOUT PAGE****/
img {
  border-radius: 15px;
  margin-top: 1em; }

/***CONTACT US***/
.pop-text {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid;
  margin-top: 1.5em;
  margin-bottom: 2em; }

/*****FOOTER*****/
.social-links {
  margin: 0.5em;
  padding-bottom: 1em; }

.custombtn {
  color: white; }

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 200px; }

.card-content {
  height: 130px; }

.instruction-card-content {
  height: 250px;
  margin: 1.5em; }

/****FLASH MESSAGE****/
.flashstyling {
  text-align: center;
  width: 50%;
  color: limegreen;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

/*****HOME PAGE / RECIPES*****/
span {
  color: #26a69a; }

.card-title {
  text-transform: uppercase; }

.crud-btn {
  margin: 1em; }

.submit-btn {
  text-align: center; }
