{% extends 'base.html' %} {% block content %}

<div class="container pop-text">
	<div class="row">
		<h3 class="container white-text center"><br>About Cook<span class="highlighting">-e</span></h3>
		<div class="col s12 m12 l12">
			<p class="white-text "><br>Welcome to Cook-e! your online cook book with 1000's of recipes. We hope you enjoy using our app and love the convienience of being able to browse countless recipes in one place. This app allows users to upload recipes to share them with other users. All the recipes you add will be immediately aviable on the main page, however, for added convienience you will be able to also see these in the profile section. In addition you will be able to see how popular certain recipes based on their number of likes. Each recipe displays the difficulty, time required and number of servings center page so you can see key information in a flash. Eaily narrow down your results by using the filters or the search bar on the home page.<br><br>
			</p>
		</div>
		<div class="col s12 l7">
			<p class="white-text "><br>Be sure to register a profile to be able to take full advantage of all the features our app has to offer. We hope to bring many more features to Cook-e in the near future and we hope you enjoy using our app. Should you have any thoughts regarding features you would like to see added then please get in touch as we would love to hear from you. </p>
		</div>
		<div class="col s12 l5">
			<img src="../static/images/cook_books.jpg" class="responsive-img" alt="cook book on table"><br><br>
		</div>
	</div>
</div>

{% endblock %}
