{% extends 'base.html' %} {% block content %}

<h3 class="white-text center container"><br>Add a<span class="highlighting"> Recipe</span></h3>

<div class="row">
    <div class="container">
        <form action="{{url_for('insert_recipe')}}" method="POST">
            <div class="input-field col s12 l8 m8">
                <input value="" id="recipe_name" name="recipe_name" type="text" class="validate">
                <label class="active" for="recipename">Recipe Name</label>
            </div>
            <div class="input-field col s12 l2 m2">
                <select id="skill_level" name="skill_level">
                  <option value="" disabled selected>Choose Difficulty</option>
                  {% for dif in level %}
                      <option value="{{dif.level}}">{{dif.level}}</option>
                  {% endfor %}
                </select>
                <label>Difficulty</label>
            </div>
            <div class="input-field col s12 l2 m2">
                <select id="course_type" name="course_type">
                  <option value="" disabled selected>Choose Course</option>
                  {% for type in course %}
                      <option value="{{type.name}}">{{type.name}}</option>
                  {% endfor %}
                </select>
                <label>Course</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input value="" id="description" name="description" type="text" class="validate">
                <label class="active" for="description">Description</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input value="" id="ingredients" name="ingredients" type="text" class="validate">
                <label class="active" for="ingredients">Ingredients</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input value="" id="instructions" name="instructions" type="text" class="validate">
                <label class="active" for="ingredients">Instructions</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <input value="" id="cuisine" name="cuisine" type="text" class="validate">
                <label class="active" for="cuisine">Cuisine</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <input value="" id="time_required" name="time_required" type="number" class="validate">
                <label class="active" for="time">Time Required (In Minutes)</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <input value="" id="serves" name="serves" type="number" class="validate">
                <label class="active" for="serves">Serves</label>
            </div>
            <div class="input-field col s12">
                <select id="allergens" name="allergens" multiple>
                  <option value="" disabled selected>Select Allergens</option>
                  {% for item in allergen %}
                      <option value="{{item.name}}">{{item.name}}</option>
                  {% endfor %}
                </select>
                <label>Allergens</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input value="" id="recipe_image" name="recipe_image" type="url" class="validate">
                <label class="active" for="recipe_image">Recipe Image URL</label>
            </div>       
            <div class="input-field col s12 m4 l4">
                <input value="{{session.user_name}}" id="user_name" name="user_name" type="hidden">
                <label class="active" for="user_name"></label>
            </div>
            <div class="input-field center col s12">
                <input class="btn" type="submit" value="Submit" />
            </div>
    </div>
    </form>
</div>
</div>









{% endblock %}
