{% extends 'base.html' %} {% block content %}

<h3 class="white-text center container"><br>Add a<span class="highlighting"> Recipe</span></h3>

<div class="row">
    <div class="container">
        <form>

            <div class="input-field col s12 l8 m8">
                <input value="" id="recipename" type="text" class="validate">
                <label class="active" for="recipename">Recipe Name</label>
            </div>
            <div class="input-field col s12 l2 m2">
                <select id="difficulty" name="skill_level">
                  <option value="" disabled selected>Choose Difficulty</option>
                  {% for dif in level %}
                      <option value="{{dif.level}}">{{dif.level}}</option>
                  {% endfor %}
                </select>
                <label>Difficulty</label>
            </div>
            <div class="input-field col s12 l2 m2">
                <select id="course" name="course_type">
                  <option value="" disabled selected>Choose Course</option>
                  {% for type in course %}
                      <option value="{{type.name}}">{{type.name}}</option>
                  {% endfor %}
                </select>
                <label>Course</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input value="" id="description" type="text" class="validate">
                <label class="active" for="description">Description</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input value="" id="ingredients" type="text" class="validate">
                <label class="active" for="ingredients">Ingredients</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <input value="" id="cuisine" type="text" class="validate">
                <label class="active" for="cuisine">Cuisine</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <input value="" id="time" type="text" class="validate">
                <label class="active" for="time">Time Required</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <input value="" id="serves" type="text" class="validate">
                <label class="active" for="serves">Serves</label>
            </div>
            <div class="input-field col s12">
                <select id="allergen" name="allergens" multiple>
                  <option value="" disabled selected>Select Allergens</option>
                  {% for item in allergen %}
                      <option value="{{item.name}}">{{item.name}}</option>
                  {% endfor %}
                </select>
                <label>Allergens</label>
            </div>
            <div class="input-field col s12 l6 m6">
                <div class="file-field input-field ">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload an image">
                    </div>
                </div>
            </div>
            <div class="input-field center col s12 l12 m12">
                <input class="btn" type="submit" value="Submit" />
            </div>
    </div>
    </form>
</div>
</div>









{% endblock %}
