<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!--Materalize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- My Custom CSS -->
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/main.css')}}" type="text/css" />

    <title>Welcome to Cook-e </title>
</head>
<header>

</header>
<main>

    <body>

        <nav>
            <div class="nav-wrapper grey darken-3">
                
                <a href="#" class="brand-logo ">Cook<span>-e</span></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </div>
            

        </nav>


        {% block content %} {% endblock %}
</main>
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook icons"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter icons"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin icons"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://pinterest.com" target="_blank"><i class="fab fa-pinterest icons"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://instagram.com" target="_blank"><i class="fab fa-instagram icons"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://youtube.com" target="_blank"><i class="fab fa-youtube icons"></i></a></li>



                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Data Centric Development | Milestone Project 4 | © 2019 John Hay
            <a class="grey-text text-lighten-4 right" href="https://github.com/JayPeaa" target="_blank"><i class="fab fa-github fa-3x  list-inline social-links"></i></a>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript for Materalize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>


</html>
