{% extends 'base.html' %} {% block content %}




<section class="container" id="contact">
    <div class="row">
        
        <div class="col s12 l8 offset-l2 pop-text">
            <h1 class="white-text center container">Contact <span class="highlighting">Us</span><br></h1>
            <h6 class="white-text justify">We hope you enjoy using Cook-e and always love to hear from our users. If you have any questions, require any additional support or have some feedback on ways in which Cook-e can be improved then do get in touch.</h6>
            <h3>Email:</h3>
            <p>support@cooke.com</p>
            <h3>Office Address:</h3>
            <p><br>Cook-e, <br>Lincoln Avenue, <br>Dorset, <br>DR34 5TL</p>
            <h3>Social Media:</h3>
            <p class="white-text justify">Or you can reach out via our social media channels below.</p>
        </div>
    </div>
</section>

{% endblock %}
