{% extends 'base.html' %}
{% block content %}


	<h1 class="container white-text center">Welcome To Cook<span >-e</span></h1>
	
	<h5 class="container white-text"><br>Your online cook book with 1000's of recipes.  Be sure to register a profile to enjoy all the benefits our app has to offer.  Browse our existing recipes and like your favourites to find them easily next time.  Add any new recipes to keep all your favourite meal ideas in one place.</h5>
	
	<h2 class="container white-text"><br>Cook<span>-e</span> Facts</h2>

{% endblock %}