{% extends 'base.html' %} {% block content %}




<div class="container pop-text">
	<div class="row">
		<h2 class="container white-text center"><br>Welcome To<br>Cook<span class="highlighting">-e</span></h2>
		<div class="col s12 m12 l12">
			<p class="white-text "><br>Welcome to Cook-e, your online cook book with 1000's of recipes. We hope you enjoy using our app and love the convienience of being able to browse countless recipes in our database. Browse our existing recipes and like your favourites to find them
				easily next time. Add any new recipes to keep all your favourite meal ideas in one place.</p>
		</div>
		<div class="col s12 m8 l8">
			<p class="white-text "><br>Be sure to register a profile to be able to take full advantage of all the features our app has to offer. We hope to bring many more features to Cook-e in the near future and look forward to bringing some really cool enhancements. Should you have
				any thoughts regarding features you would like to see add then please get in touch as we love to hear from our many fans. Why not check out some of our many recipes next and then register a profile, it's free.</p>
		</div>
		<div class="col s12 m4 l4 ">
			<img src="../static/images/cook_books.jpg" class="responsive-img" alt="cook book on table"><br><br></img>
		</div>
	</div>
</div>




{% endblock %}
