{% extends 'base.html' %} {% block content %}

<h3 class="white-text center container"><br>Let's<span class="highlighting"> Go!</br></br></span></h3>
<div class="row">
    <div class="container col offset-l1 l3 offset-m2 m8 s12">
        <div class="card">
            <div class="card-image">
                <img src="{{recipes.recipe_image | default('..\static\images\cook_books.jpg') }}">
                <span class="card-title">{{ recipes.recipe_name }}</span>
            </div>
            <div class="card-content ">
                <p class="black-text">{{ recipes.description }}</p>
            </div>
            <div class="card-action">
                <span><i class="material-icons orange-text right" id="like">favorite</i></span><span class="figure black-text right" id="likes"></span><br>
            </div>
        </div>
    </div>
   

    <div class="row">
        <div class="container col s12 offset-l1 l6">

            <h4> Ingredients </h4>

            <p class="justify"> {{ recipes.ingredients }}</p>
            <div class="col s4">
                <p class="center"><i class="medium material-icons orange-text center">access_time</i></br> {{ recipes.time_required }} mins </p>
            </div>
            <div class="col s4">
                <p class="center"><i class="medium material-icons orange-text center">network_check</i></br> {{ recipes.skill_level }} </p>
            </div>
            <div class="col s4">
                <p class="center"><i class="medium material-icons orange-text center">restaurant</i></br> Serves {{ recipes.serves }} </p>
            </div>

            <h4> Directions </h4>

            <p class="justify"> {{ recipes.instructions }}</p>

            <h4> Author </h4>

            <p> {{ recipes.user_name }} </p>
            {% if 'user_name' in session %}
            <div class="container center">
                <a href="{{url_for('edit_recipe', recipe_id=recipes._id)}}" class="btn-floating btn-medium waves-effect waves-light green tooltipped crud-btn" data-tooltip="Edit Recipe"><i class="material-icons">edit</i></a>
                <a href="{{url_for('delete_recipe', recipe_id=recipes._id)}}" class="btn-floating btn-medium waves-effect waves-light red tooltipped crud-btn" data-tooltip="Delete Recipe"><i class="material-icons">delete</i></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
