{% extends 'base.html' %} {% block content %}

<h3 class="white-text center container"><br>Check It<span class="highlighting"> Out!</span></h3>

<div class="row">
    <div class="container col s12 l8 m8">
        <h1> Recipe Name </h1>

        <p>Brief description of dish Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat.</p>

        <hr></hr>

        <h2> Ingredients </h2>

        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam alias id cum, rem laboriosam aspernatur. Dolore facere, dolores! Hic quibusdam similique, ipsum laborum. Architecto, amet ducimus eaque earum! Nulla, nisi.</p>

        <hr></hr>

        <p>Put icons and facts here like cooking time difficulty servings </p>
    </div>
    {% for item in recipes %}
    <div class="container col l4 m4 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <span class="card-title">{{ item.recipe_name }}</span>
            </div>
            <div class="card-content ">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>

        </div>
    </div>
    {% endfor %}


</div>












{% endblock %}
