{% extends 'base.html' %} {% block content %}


<h1 class="white-text center">User <span>Profile</span></h1>


<h1>{{user.user_name}}</h1>


<h2>{{ user.first_name }}</h2>
<h2>{{ user.last_name }}</h2>
<h2>{{ user.email }}</h2>



<div class="container">
    <div class="row">
        <div class="col s12 l4 offset-l4 white-text ">
            <div class="input-field center">
                <button class="btn waves-effect waves-dark white-text"><a class="white-text" href='{{url_for('logout')}}' >Sign Out</a></button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
