{% extends 'base.html' %} {% block content %}

<div class="container pop-text">
    <div class="row">
        <h3 class="white-text center">Account <span class="highlighting">Info</span></h3>
        <div class="col s12 m8">
            <h5>My<span class="highlighting"> Profile</span></h5>
            <p>Hey <span class="highlighting">{{ user.first_name }}!</span><br><br>Welcome to your profile page. <br><br> From this page you can access all your personal recipes. <br><br> You have registerd <span class="highlighting">{{ user.email }}</span> as your email
                adress and your user name is <span class="highlighting">{{user.user_name}}</span>. <br> You will be asked for your user name and password each time you log in. <br><br><br>A welcome message will be displayed at the top of the screen indicating when you are logged in.  Any recipes you add will be shown here in your profile section.  Click the red home button to start viewing recipes.
            </p>
        </div>
        <div class="col s12 m4 right">
            <h5>My<span class="highlighting"> Recipes</span></h5>
            {% for item in users_recipes %}
               {{ item.recipe_name}} - {{ item.course_type }} <a href="{{ url_for('instructions', item_id=item._id) }}" class="right"><span class="highlighting">View Recipe</span></a></br>
           {% endfor %}
        </div>
        <div class="col s12 l4 offset-l4 white-text ">
            <div class="input-field center">
                <button class="btn waves-effect waves-dark white-text"><a class="white-text" href='{{url_for('logout')}}' >Sign Out</a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
