{% extends 'base.html' %} {% block content %}

<h3 class="white-text center container"><br>Browse <span class="highlighting">Recipes</span></h3>

<div class="container center">
    <a href="{{ url_for('add_recipe') }}" class="btn-floating blue darken-1 tooltipped waves-effect waves-dark crud-btn" data-tooltip="Add Recipe"><i class="material-icons">add</i></a></li>
    <a href="{{ url_for('profile') }}" class="btn-floating green tooltipped waves-effect waves-dark crud-btn" data-tooltip="My Recipes"><i class="material-icons">local_library</i></a>
</div>

<form>
    <div class="input-field container row">
        <div class="input-field col s12 m4 l4">
            <select multiple>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Easy</option>
              <option value="2">Moderate</option>
              <option value="3">Challenging</option>
            </select>
            <label>Skill Level</label>
        </div>

        <div class="input-field col s12 m4 l4">
            <select multiple>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Main</option>
              <option value="2">Dessert</option>
              <option value="3">Starter</option>
            </select>
            <label>Course</label>
        </div>

        <div class="input-field  col s12 m4 l4">
            <select multiple>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Nut Free</option>
              <option value="2">Vegan</option>
              <option value="3">Vegetarian</option>
            </select>
            <label>Allergens</label>
        </div>


        <div class="col s12 m12 l12">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>

    </div>
</form>


<div class="row">
    {% for item in recipes %}
    <div class="col l3 m4 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <span class="card-title">{{ item.recipe_name }}</span>
            </div>
            <div class="card-content ">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. </p>
            </div>
            <div class="card-action">
                <a href="/instructions">View Recipe</a>
                <span class="black-text right"> 1 <i class="material-icons orange-text right">favorite</i></span>

            </div>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock %}
