{% extends 'base.html' %} {% block content %}

<h3 class="white-text center container"><br>Browse <span class="highlighting">Recipes</span></h3>

{% if 'user_name' in session %}
<div class="container center">
    <a href="{{ url_for('add_recipe') }}" class="btn-floating blue darken-1 tooltipped waves-effect waves-dark crud-btn" data-tooltip="Add Recipe"><i class="material-icons">add</i></a></li>
    <a href="{{ url_for('profile') }}" class="btn-floating green tooltipped waves-effect waves-dark crud-btn" data-tooltip="My Recipes"><i class="material-icons">local_library</i></a>
    <div>
        <a href="{{ url_for('recipes') }}" class="btn-floating red darken-1 tooltipped waves-effect waves-dark" data-tooltip="Reset Filters"><i class="material-icons">undo</i></a>
    </div>
</div>
{% endif %}
<form action="/filter" method="POST">
    <div class="input-field container row">
        <div class="input-field col s12 l2">
            <select id="difficulty" name="skill_level">
                  <option value="" disabled selected>Choose Difficulty</option>
                  {% for dif in level %}
                      <option value="{{dif.level}}">{{dif.level}}</option>
                  {% endfor %}
            </select>
            <label>Difficulty</label>
        </div>
        <div class="input-field col s12 l2">
            <select id="course" name="course_type">
                  <option value="" disabled selected>Choose Course</option>
                  {% for type in course %}
                      <option value="{{type.name}}">{{type.name}}</option>
                  {% endfor %}
                </select>
            <label>Course</label>
        </div>

        <div class="input-field col s12 l8">
            <select id="allergen" name="allergens" multiple>
                  <option value="" disabled selected>Select Allergens To Exclude</option>
                  {% for item in allergen %}
                      <option value="{{item.name}}">{{item.name}}</option>
                  {% endfor %}
                </select>
            <label>Allergens</label>
        </div>

        <div class="col s12">
            <input id="search" type="search">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>


            <div class="submit-btn">
                <button class="btn-small waves-effect waves-light" type="submit">Submit</button>

            </div>
        </div>
    </div>

</form>


<div class="row">
    {% for item in recipes %}
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="{{item.recipe_image | default('..\static\images\cook_books.jpg') }}">
                <span class="card-title">{{ item.recipe_name }}</span>
            </div>
            <div class="card-content ">
                <p class="black-text">{{ item.description }} </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('instructions', item_id=item._id) }}" />View Recipe</a>
                <span class="black-text right" id="likes"><span class="figure"></span><i class="material-icons orange-text right" id="like">favorite</i></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock %}
