{% extends 'base.html' %} {% block content %}

<form>
    <div class="input-field container">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>
</form>

<h3 class="white-text center">Category <span>Selection</span></h3>



<div class="row">
    {% for item in recipes %}
    <div class="col l3 m4 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                <span class="card-title">{{ item.category }}</span>
            </div>
            <div class="card-content ">
                <p class="black-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>






{% endblock %}
